python-dotenv==1.1.1
pillow==11.3.0
imageio==2.37.0
browser-use==0.4.4
playwright==1.52.0
Flask==3.1.1
fpdf==1.7.2
openai==1.93.0
openapi-pydantic==0.5.1
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
typing-inspection==0.4.1
typing_extensions==4.14.1
supabase==2.17.0
supafunc==0.10.1
flask-cors==6.0.1
SQLAlchemy==2.0.42
psycopg2-binary==2.9.10
langchain==0.3.27
langchain-core==0.3.74
langchain-mcp-adapters==0.1.9
langchain-text-splitters==0.3.9
langsmith==0.4.13